<div class="panel panel-default">
  <div class="panel-heading">
   <span> {{ joke.title }}</span>
    <span class="pull-right">
      <a [routerLink]="['/user/profile', joke.user.id]">{{ joke.user.name }}</a>
    </span>
  </div>

  <div class="panel-body">
    <p class="text-center">
      {{ joke.joke }}
    </p>
  </div>

  <div class="panel-footer">
    {{ joke.created_at | prettyDate }}
      <span *ngIf="canModify()">
          <button class="btn btn-danger btn-xs pull-right">Delete</button>
          <button class="btn btn-info btn-xs pull-right">Edit</button>
      </span>
  </div>
</div>