<div class="panel panel-default">
  <div class="panel-heading">
   <span *ngIf="!editing"> {{ joke.title }}</span>

      <span *ngIf="editing">
          <input class="form-control" type="text" [formControl]="title">
      </span>
    <span class="pull-right" *ngIf="!editing">
      <a [routerLink]="['/user/profile', joke.user.id]">{{ joke.user.name }}</a>
    </span>
  </div>

  <div class="panel-body">
    <p class="text-center" *ngIf="!editing">
      {{ joke.joke }}
    </p>

      <p class="text-center" *ngIf="editing">
          <textarea class="form-control" name="joke" id="joke" cols="30" rows="10" [formControl]="content"></textarea>
      </p>

  </div>

  <div class="panel-footer">
    {{ joke.created_at | prettyDate }}
      <span *ngIf="canModify() && !editing">
          <button class="btn btn-danger btn-xs pull-right">Delete</button>
          <button class="btn btn-info btn-xs pull-right" (click)="edit()">Edit</button>
      </span>
      <span *ngIf="editing">
          <button class="btn btn-primary btn-xs pull-right" (click)="updateJoke()"
           [disabled]="title.invalid || content.invalid">
              Save Changes</button>
      </span>
  </div>
</div>